:root {
  --heading-font-family: "Phudu", serif;
  --default-font-family: "Inter", serif;
  --primary-color: #b9dbe1;
  --secondary-color: #183140;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container-fluid {
  max-width: 100%;
}

body {
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  background: #e6e7f0 !important;
}
.display-restriction {
  display: none;
}
.navbar-brand {
  font-family: "Pixelify Sans", serif;
  color: white !important;
}
.nav-link {
  color: white !important;
}
.navbar {
  background-color: #183140 !important;
}
.navbar-toggler {
  background-color: white !important;
}

.homepage {
  padding: 40px 5px;
  background-image: linear-gradient(
      rgba(30, 55, 66, 0.8),
      rgba(30, 55, 66, 0.8)
    ),
    url("/images/intro-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h2 {
  font-weight: 300 !important;
  font-size: 45px !important;
}

.dev-name {
  font-weight: 900 !important;
}

.homepage p {
  font-family: var(--default-font-family);
  font-size: 24px;
}
p {
  font-family: var(--default-font-family);
}
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  text-align: center;
}
h3 {
  font-size: 20px !important;
  margin-top: 5px;
  opacity: 0.8;
}
h4 {
  font-size: 30px !important;
}
.project-description {
  font-size: 15px;
  font-family: var(--default-font-family);
  line-height: 30px;
}

.img-homepage {
  max-width: 70% !important;
  box-shadow: 2px 2px 5px 5px #496779;
}
.img-projects {
  max-width: 90% !important ;
}
.diploma-image {
  display: block;
  max-width: 50% !important;
  margin: 0 auto;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  background-color: white;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  font-family: var(--default-font-family);
  font-size: 15px;
  &:hover {
    background-color: var(--secondary-color);
    border: 4px solid white;
    color: white;
  }
}
.buttons-homepage {
  padding: 20px 30px;
}
.buttons-projects {
  padding: 20px 60px;
  justify-content: center;
}
.project-links {
  text-decoration: none;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 900;
}
.project-links:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .img-projects {
    max-width: 50% !important;
  }
  .diploma-image {
    max-width: 100% !important;
  }
  .container {
    display: flex;
  }
  .img-homepage {
    margin: 10px;
    padding: 10px 5px;
    margin-bottom: 0;
  }
  .li-heading {
    font-size: 14px !important;
  }
  .fa-solid {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .project-description {
    font-size: 15px !important;
  }
  .buttons-homepage {
    padding: 10px 20px;
    font-size: 15px;
  }
  .contact-heading {
    font-size: 20px !important;
  }
  .contact-info h4 {
    font-size: 20px !important;
  }

  .homepage p {
    font-size: 14px !important;
  }
}

.about-info {
  padding: 15px 25px;
}
ul {
  list-style-type: none;
}
.li-items {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 40px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 2px #496779;
}
.li-heading {
  padding: 10px 40px;
}

a.buttons {
  text-decoration: none;
  color: black;
}

.project-icon {
  color: var(--secondary-color);
}
.accordion-button {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.contact-info {
  line-height: 100px;
  padding: 0px 30px;
  width: 100% !important;
}
a {
  font-family: var(--default-font-family);
}

.footer-icons {
  margin: 0 10px;
  background-color: #e7f3f5;
  transition: all 100ms ease-in-out;
  padding: 10px 10px;
  opacity: 0.8;
  border-radius: 30px;
}
.footer-icons:hover {
  background-color: #183140;
  color: white;
}

footer p {
  font-size: 10px !important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100% !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .display-sm-image {
    display: block;
  }
  .display-none-image {
    display: none !important;
  }
}
